<mat-card>
    <mat-card-content>
        <div cdkDropList cdkDropListOrientation="horizontal" class="player-list" (cdkDropListDropped)="drop($event)">
            <div class="player-box" *ngFor="let player of players" cdkDrag>
                <button mat-flat-button [color]="player.play ? 'accent' : 'default'"
                    (click)="playerClick(player)">{{player.name}}</button>
                <div class="score">
                    {{player.score}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="add-score score">
            <div>Na ťahu: {{currentPlayer.name}}</div>
            <div>

                <mat-form-field appearance="fill" class="score-field" >
                    <mat-label>Skóre</mat-label>
                    <input matInput type="number" [(ngModel)]="scoreValue" readonly>
                </mat-form-field>

            </div>
            <button mat-fab (click)="addScore()" [disabled]="playersCount < 2">
                <mat-icon aria-label="label">add</mat-icon>
            </button>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
        <div class="flex-col">

            <div class="flex-row">

                <button mat-mini-fab class="num" (click)="keyClick('1')">
                    1
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('2')">
                    2
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('3')">
                    3
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('4')">
                    4
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('5')">
                    5
                </button>

            </div>
            <div class="flex-row">

                <button mat-mini-fab class="num" (click)="keyClick('6')">
                    6
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('7')">
                    7
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('8')">
                    8
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('9')">
                    9
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('0')">
                    0
                </button>

            </div>


            <div class="flex-row">

                <button mat-mini-fab class="num" (click)="keyClick('-')">
                    -
                </button>
                <button mat-mini-fab class="num" (click)="keyClick('BS')">
                    <mat-icon>backspace</mat-icon>
                </button>

            </div>

        </div>
    </mat-card-content>
</mat-card>