<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <div cdkDropList cdkDropListOrientation="horizontal" class="player-list" (cdkDropListDropped)="drop($event)">
            <div class="player-box" *ngFor="let player of players" cdkDrag>
                <button mat-flat-button [color]="player.play ? 'accent' : 'default'"
                    (click)="playerClick(player)">{{player.name}}</button>
                <div class="score">
                    {{player.score}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="add-score score">


            <mat-form-field appearance="fill" class="score-field">
                <mat-label>Skóre {{currentPlayer.name}}</mat-label>
                <input matInput type="number" [(ngModel)]="scoreValue" readonly>
            </mat-form-field>


        </div>
    </mat-card-content>
    <mat-card-content class="card-content">
        <div class="flex-col">

            <div class="flex-row">

                <button mat-fab color="default" class="num" (click)="keyClick('1')">
                    1
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('2')">
                    2
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('3')">
                    3
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('4')">
                    4
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('5')">
                    5
                </button>

            </div>
            <div class="flex-row">

                <button mat-fab color="default" class="num" (click)="keyClick('6')">
                    6
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('7')">
                    7
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('8')">
                    8
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('9')">
                    9
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('0')">
                    0
                </button>

            </div>


            <div class="flex-row">

                <button mat-fab color="default" class="num" (click)="keyClick('-')">
                    +/-
                </button>
                <button mat-fab color="default" class="num" (click)="keyClick('BS')">
                    <mat-icon>backspace</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="addScore()"
                    [disabled]="playersCount < 2 || scoreValue === undefined">
                    <mat-icon>{{editMode ? 'edit' : 'save'}}</mat-icon>
                </button>

            </div>

        </div>
    </mat-card-content>
    <mat-card-content id="scrlst" class="card-content scrollable-content" style="height: 150px;overflow: auto;">
        <mat-divider></mat-divider>
        <div class="flex-col" style="padding-top: 10px;">


            <div class="flex-row" *ngFor="let id of rowIds; let i = index">
                <button mat-stroked-button *ngFor="let player of players" [disabled]="player.rows[i] === undefined"
                    (click)="editScore(player, i)">
                    {{player.rows[i] ?? '-'}}
                </button>
            </div>

        </div>
    </mat-card-content>
</mat-card>